/* Custom Scrollbar - hidden but scrollable */
.pmv-scroll {
  scrollbar-width: none;
}

.pmv-scroll::-webkit-scrollbar {
  display: none;
}

/* Electron Frameless Window Drag Utilities */
.drag {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
